:root {
  /* 
      FIRST WE'LL DEFINE OUR SWATCHES, i.e. THE COMPLEMENTARY
      COLORS THAT WE'LL USE TOGETHER IN MULTIPLE PLACES THAT
      TOGETHER WILL MAKE UP A GIVEN THEME
  */
  --swatch-foundation:    white; /* USED FOR BODY BACKGROUND */
  --swatch-primary:       #E6E6E6; /* DOMINANT COLOR, USED FOR MOST BACKGROUNDS */
  --swatch-complement:    #E1E4CB; /* USED IN FORGROUND OF PRIMARY FOR TEXT AND BORDERS */
  --swatch_contrast:      #111111; /* USED IN MOUSE-OVER SELECTION OF LARGE ELEMENTS */
  --swatch-accent:        #669966; /* USED IN MOUSE-OVER SELECTION OF TEXT AND BORDERS */    
  --my-font-family:          "Robaaaoto";
  --bounceEasing: cubic-bezier(0.51, 0.92, 0.24, 1.15);
}

body {
  background-color: var(--swatch-foundation);
  font-family: 'Lexend Exa';
}

div.banner {
  background-image: linear-gradient(to bottom,         
  #f06393, #f9bed3);
  color: black;
  font-size: 48pt;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
  padding-left: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.home_new_list_button {
  font-size: 32pt;
}
.home_new_list_button:hover {
  box-shadow: 1px 2px;
}
.fixed-action-btn{
  position: relative;
}

.editscreen {
  /* border-radius: 40px; */
  border: #111111;
  border-style: groove;
}

.diagram {
  overflow: scroll;
  border-style: dashed;
  border-color: #111111;
  border-width: 1px;
}

.workspace {
  overflow: scroll;
}

.selectedcontrol {
  resize: both;
  overflow: hidden;
}

.TR {
  position: absolute;
  height: 15px;
  width: 15px;
  background-color: aqua;
  border: solid;
  border-color: blueviolet;
  border-width: 2px;
  border-radius: 10px;
  top: -5px;
  right: -5px;
}
.BR {
  position: absolute;
  height: 15px;
  width: 15px;
  background-color: aqua;
  border: solid;
  border-color: blueviolet;
  border-width: 2px;
  border-radius: 10px;
  bottom: -5px;
  right: -5px;
}
.BL {
  position: absolute;
  height: 15px;
  width: 15px;
  background-color: aqua;
  border: solid;
  border-color: blueviolet;
  border-width: 2px;
  border-radius: 10px;
  bottom: -5px;
  left: -5px;
}
.TL {
  position: absolute;
  height: 15px;
  width: 15px;
  background-color: aqua;
  border: solid;
  border-color: blueviolet;
  border-width: 2px;
  border-radius: 10px;
  top: -5px;
  left: -5px;
}

.disabledcustom {
  opacity: 0.1;
  cursor: not-allowed;
}
.controlpanel {
  /* border-radius: 40px; */
  border: #111111;
  border-style: solid;
  border-width: 2px;
}

.subpanel {
  border: #111111;
  border-style: solid;
  border-width: 1px;
}

.button {
  border: #111111;
  border-style: solid;
  border-width: 2px;
  margin: 1px;
  width: 80px;
}

.buttonDisplay {
  border: #111111;
  border-style: solid;
  border-width: 2px;
}

.tag {
  font-size: 20px;
}

.border {
  border-radius: 20px;
}

.selectedborder {
   border-style: double;
   border-color: red;
   border-width: 3px;
}

.buttonI {
  cursor: pointer;
  border-style: ridge;
}

.buttonII {
  border-style: solid;
  border-radius: 100px;
  border-color: black;
  border-width: 1px;
}

.shorttext {
  font-size: 12px;
}

.smalltext {
  font-size: 10px;
}

.cursor {
  cursor: pointer;
}

.modal {
  display: none; /* Hidden by default */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  animation-name: animatetop;
  animation-duration: 0.7s
}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 10% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 2px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.fromright {
  animation-name: animateright;
  animation-duration: 0.7s
}

.container {
  border-style: solid;
  border-width: 2px;
  border-color: black;
}

@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

@keyframes animateright {
  from {right: -300px; opacity: 0}
  to {right: 0; opacity: 1}
}